@font-face {
    font-family: 'ropa-sans';
    src: url('http://resto.local/fonts/RopaSans-Regular.ttf');
}

@font-face {
    font-family: 'golden plains';
    src: url('http://resto.local/fonts/Golden\ Plains\ -\ Demo.ttf');
}